allure-pytest==2.14.2
email_validator==2.2.0
Faker==37.3.0
httpx==0.28.1
jsonschema==4.24.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pytest==8.4.0
pytest-rerunfailures==15.1
pytest-xdist==3.7.0
swagger-coverage-tool==0.27.0
